@font-face {
    font-family: 'Fredoka';
    src: url('.obsidian/snippets/Fredoka/Fredoka-VariableFont_wdth,wght.ttf') format('truetype'); 
    /* Add additional formats if necessary */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa';
    src: url('.obsidian/snippets/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype'); /* Fallback for older browsers */
    /* Add additional formats if necessary */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dekko';
    src: url('.obsidian/snippets/Dekko/Dekko-Regular.ttf') format('truetype'); /* Fallback for older browsers */
    /* Add additional formats if necessary */
    font-weight: normal;
    font-style: normal;
}

